.column {
  width: 20%;
  float: left;
  margin: 12px;
  border: 12px solid green;
  padding: 4px;
}

img {
  width: 100%;
}

h3 {
  font-size: 30px;
}

.column h3 {
  font-size: 15px;
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  .column {
    /*border: 12px solid red;*/
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-color: black;
    color: white;
  }
}
